---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/footer.astro";
import Header from "../layouts/header.astro";
---

<Layout>
    <div class="grid min-h-screen grid-rows-[auto_1fr_auto]">
        <Header />
        <main></main>
        <Footer />
    </div>
</Layout>
